{% extends 'main.html' %}

{% block content %}

<style>
    .container{
        text-align: left;
        height: 300px;
        display: table-cell;
        vertical-align: bottom;
    }
</style>

<div class="container">

    <h2>Greenhouse 7</h2>

    <div>
        <div>
            <h5>'1' {{gh7_add_device.name}} -- <a href="{% url 'gh7_add_device' %}">'Add Device' {{gh7_add_device.name}}</a></h5>
            <h5>'2' {{gh7_add_fruit.name}} -- <a href="{% url 'gh7_add_fruit' %}">'Add Fruit' {{gh7_add_fruit.name}}</a></h5>
            <h5>'3' {{gh7_add_herb.name}} -- <a href="{% url 'gh7_add_herb' %}">'Add Herb' {{gh7_add_herb.name}}</a></h5>
            <h5>'4' {{gh7_add_vegetable.name}} -- <a href="{% url 'gh7_add_vegetable' %}">'Add Vegetable' {{gh7_add_vegetable.name}}</a></h5>
        </div>
    </div>

</div>

{% endblock %}