<!--
        print('**************************************')
        print('***' + 'Select a number' + '********************')

        '''1. Add a plant to the inventory'''
        '''2. Add a device to the inventory'''
        '''3. Create a new greenhouse'''
        '''4. Exit'''
        print('****************************************') 
        print('***' + ' 1. Add a plant to the inventory ' + '******')
        print('***' + ' 2. Add a device to the inventory ' + '*****')
        print('***' + ' 3. Create a new greenhouse ' + '***********')
        print('***' + ' 4. Print Inventory ' + '*******************')
        print('***' + ' 5. Seasons End ' + '*********************')
        print('***' + ' 6. Write Database to file ' + '************')
        print('***' + ' * to Exit ' + '****************************')  
        print('****************************************')
